{% extends 'layout.html' %} {% block title %} Inicio Sesión {% endblock %} {%
block content %}

<div class="barra-gov">
  <img
    src="{{ url_for('static', filename='images/logo_gov.png') }}"
    class="logo-gov"
  />
</div>

<div class="container-fluid p-0">
  <div class="row g-0 vh-100">
    <div class="col-lg-8 fondo-institucional">
      <div class="contenido-izquierdo">
        <div class="titulo-bogota">
          AQUÍ<br />
          SÍ PASA<br />
          BOGOTÁ<br />
          MI CIUDAD<br />
          MI CASA
        </div>

        <div class="logos-footer">
          <img
            src="{{ url_for('static', filename='images/logos_entidades.png') }}"
            class="img-fluid"
          />
        </div>
      </div>
    </div>

    <div class="col-lg-4 panel-login">
      <div class="login-box">
        <h1 class="titulo-login">VENTANILLA ÚNICA</h1>

        <p>Bienvenido. Por favor identifíquese:</p>

        {% if error %}

        <div class="alert alert-danger">{{ error }}</div>

        {% endif %}

        <form action="/validar" method="POST">
          <div class="mb-3">
            <label> Usuario </label>

            <input type="text" name="usuario" class="form-control" required />
          </div>

          <div class="mb-4">
            <label> Contraseña </label>

            <input
              type="password"
              name="password"
              class="form-control"
              required
            />
          </div>

          <button class="btn btn-danger w-100">INICIAR SESIÓN</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
