{% extends 'layout.html' %} {% block title %} Inicio Sesión {% endblock %} {%
block content %}

<!-- Barra GOV -->

<div class="barra-gov">
  
</div>

<div class="container-fluid p-0">
  
  <div class="row g-0 vh-100">
    <!-- PANEL IZQUIERDO -->
    <div class="col-lg-8 fondo-institucional"></div>

    <!-- PANEL LOGIN -->
    <div class="col-lg-4 panel-login">
      <div class="login-box">
        <div class="text-center mb-4">
          <h1 class="titulo-login">VENTANILLA ÚNICA</h1>

          <p class="text-muted">Bienvenido. Por favor identifíquese</p>
        </div>

        {% if error %}

        <div class="alert alert-danger">{{ error }}</div>

        {% endif %}

        <form action="/validar" method="POST">
          <div class="mb-3">
            <label class="form-label fw-semibold"> Usuario </label>

            <input
              type="text"
              name="usuario"
              class="form-control form-control-lg"
              required
            />
          </div>

          <div class="mb-4">
            <label class="form-label fw-semibold"> Contraseña </label>

            <input
              type="password"
              name="password"
              class="form-control form-control-lg"
              required
            />
          </div>

          <button type="submit" class="btn btn-danger w-100 py-2">
            INICIAR SESIÓN
          </button>
        </form>
      </div>
    </div>
  </div>
  
</div>

{% endblock %}
